<%= form_tag :madmimi_subscribe do %>
	<input type="hidden" name="show_success_lightbox" value="false">
 	<p class="text_field">
		<%= label_tag :email, "Email*:" %><br />
		<%= email_field_tag :email, "", { id: "subscribe_email" } %>
	</p>

	<p class="text_field">
		<%= label_tag :nome, "Primeiro Nome:" %><br />
		<%= text_field_tag :nome, "", :placeholder => "Opcional" %>
	</p>

 	<p class="radio_field">
		<input checked="checked" id="user_type_both" name="user_type" type="radio" value="Me Interessa Comprar e Vender">
		<label for="user_type_both">Me Interessa Comprar e Vender</label>

		<input id="user_type_buy" name="user_type" type="radio" value="Me Interessa Apenas Comprar">
		<label for="user_type_buy">Me Interessa Apenas Comprar</label>

		<input id="user_type_sell" name="user_type" type="radio" value="Me Interessa Apenas Vender">
		<label for="user_type_sell">Me Interessa Apenas Vender</label>
	</p>

	<p class="checkbox_field">
		<%= check_box_tag :subscribed %>
		<%= label_tag :subscribed, "Quero receber meu Cupom de 10% e Promoções por Email*" %>
	</p>

	<p class="button-container">
		<%= submit_tag "Cadastre-se e ganhe seu cupom", :class => 'submit button pink d3 mid', :id => 'op_subscribe', :onclick => "ga('send', 'event', { eventCategory: 'Newsletter', eventAction: 'Subscription', eventLabel: 'Landing Cadastro'});" %>
	</p>
<% end %>