<% @subscriber ||= Spree::Subscriber.new %>
<%= form_for @subscriber, :url => :madmimi_subscribe do |f| %>
	<input type="hidden" name="show_success_lightbox" value="false">
 	<p class="text_field">
		<%= f.label :email, "Email*:" %><br />
		<%= f.email_field :email, { id: "subscribe_email" } %>
		<span class="email_error"></span>
	</p>

	<p class="text_field">
		<%= f.label :nome, "Primeiro Nome:" %><br />
		<%= f.text_field :nome, :placeholder => "Opcional" %>
	</p>

 	<p class="radio_field">
 		<%= f.radio_button :profile, "Me Interessa Comprar e Vender" %>
 		<%= f.label :profile_me_interessa_comprar_e_vender %>

 		<%= f.radio_button :profile, "Me Interessa Apenas Comprar" %>
 		<%= f.label :profile_me_interessa_apenas_comprar %>

 		<%= f.radio_button :profile, "Me Interessa Apenas Vender" %>
 		<%= f.label :profile_me_interessa_apenas_vender %>
	</p>

	<p class="checkbox_field">
		<%= f.check_box :subscribed %>
		<%= f.label :subscribed, "Quero receber meu Cupom de 10% e Promoções por Email*" %>
	</p>

	<p class="button-container">
		<%= f.submit "Cadastre-se e ganhe seu cupom", :class => 'submit button pink d3 mid', :id => 'op_subscribe', :onclick => "ga('send', 'event', { eventCategory: 'Newsletter', eventAction: 'Subscription', eventLabel: 'Landing Cadastro'});" %>
	</p>
<% end %>